<a href="https://colab.research.google.com/github/KuroCat-bite/Practice/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Series

In [17]:
temperatures = [25, 30, 32, 30, 29]
temperatures

[25, 30, 32, 30, 29]

In [ ]:
temperatures_series = pd.Series(temperatures)
temperatures_series

0    25
1    30
2    32
3    30
4    29
dtype: int64

Analyze Series

In [ ]:
# memanggil statistik mengenai series
temperatures_series.describe()

count     5.000000
mean     29.200000
std       2.588436
min      25.000000
25%      29.000000
50%      30.000000
75%      30.000000
max      32.000000
dtype: float64

In [14]:
temperatures_series.is_unique

False

In [16]:
temperatures_series.std()
std_tempt = temperatures_series.std()
std_tempt

2.588435821108957

Access Values

In [18]:
temperatures = [25, 30, 32, 30, 29]
temperatures_series = pd.Series(temperatures)
print(temperatures)
print(temperatures_series)

[25, 30, 32, 30, 29]
0    25
1    30
2    32
3    30
4    29
dtype: int64

In [19]:
print(temperatures[2])

32

Modify Values

In [32]:
temperatures = [25, 30, 32, 30, 29]
temperatures_series = pd.Series(temperatures)
print(temperatures)
print(temperatures_series)

[25, 30, 32, 30, 29]
0    25
1    30
2    32
3    30
4    29
dtype: int64

In [33]:
temperatures_series[1] = 26
temperatures_series

0    25
1    26
2    32
3    30
4    29
dtype: int64

In [34]:
temperatures_series =temperatures_series + 1
temperatures_series

0    26
1    27
2    33
3    31
4    30
dtype: int64